/**

    Copyright (c) 2018, MOBICOOP. All rights reserved.
    This project is dual licensed under AGPL and proprietary licence.

    This program is free software: you can redistribute it and/or modify
    it under the terms of the GNU Affero General Public License as
    published by the Free Software Foundation, either version 3 of the
    License, or (at your option) any later version.
    This program is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the
    GNU Affero General Public License for more details.
    You should have received a copy of the GNU Affero General Public License
    along with this program. If not, see gnu.org/licenses.

    Licence MOBICOOP described in the file
    LICENSE
**************************/

@import "~@mdi/font/css/materialdesignicons.css";
@import "~flag-icons/css/flag-icons.min.css";
@import 'vue-leaflet-markercluster/dist/style.css';


:root {
  /** primary **/
  --ion-color-primary: #3880ff;
  --ion-color-primary-rgb: 56, 128, 255;
  --ion-color-primary-contrast: #ffffff;
  --ion-color-primary-contrast-rgb: 255, 255, 255;
  --ion-color-primary-shade: #3171e0;
  --ion-color-primary-tint: #4c8dff;

  /** secondary **/
  --ion-color-secondary: #0cd1e8;
  --ion-color-secondary-rgb: 12, 209, 232;
  --ion-color-secondary-contrast: #ffffff;
  --ion-color-secondary-contrast-rgb: 255, 255, 255;
  --ion-color-secondary-shade: #0bb8cc;
  --ion-color-secondary-tint: #24d6ea;

  /** tertiary **/
  --ion-color-tertiary: #7044ff;
  --ion-color-tertiary-rgb: 112, 68, 255;
  --ion-color-tertiary-contrast: #ffffff;
  --ion-color-tertiary-contrast-rgb: 255, 255, 255;
  --ion-color-tertiary-shade: #633ce0;
  --ion-color-tertiary-tint: #7e57ff;

  /** success **/
  --ion-color-success: #10dc60;
  --ion-color-success-rgb: 16, 220, 96;
  --ion-color-success-contrast: #ffffff;
  --ion-color-success-contrast-rgb: 255, 255, 255;
  --ion-color-success-shade: #0ec254;
  --ion-color-success-tint: #28e070;

  /** warning **/
  --ion-color-warning: #ffce00;
  --ion-color-warning-rgb: 255, 206, 0;
  --ion-color-warning-contrast: #ffffff;
  --ion-color-warning-contrast-rgb: 255, 255, 255;
  --ion-color-warning-shade: #e0b500;
  --ion-color-warning-tint: #ffd31a;

  /** danger **/
  --ion-color-danger: #f04141;
  --ion-color-danger-rgb: 245, 61, 61;
  --ion-color-danger-contrast: #ffffff;
  --ion-color-danger-contrast-rgb: 255, 255, 255;
  --ion-color-danger-shade: #d33939;
  --ion-color-danger-tint: #f25454;

  /** dark **/
  --ion-color-dark: #222428;
  --ion-color-dark-rgb: 34, 34, 34;
  --ion-color-dark-contrast: #ffffff;
  --ion-color-dark-contrast-rgb: 255, 255, 255;
  --ion-color-dark-shade: #1e2023;
  --ion-color-dark-tint: #383a3e;

  /** medium **/
  --ion-color-medium: #707070;
  --ion-color-medium-rgb: 152, 154, 162;
  --ion-color-medium-contrast: #ffffff;
  --ion-color-medium-contrast-rgb: 255, 255, 255;
  --ion-color-medium-shade: #86888f;
  --ion-color-medium-tint: #a2a4ab;

  /** light **/
  --ion-color-light: #ffffff;
  --ion-color-light-rgb: 244, 244, 244;
  --ion-color-light-contrast: #000000;
  --ion-color-light-contrast-rgb: 0, 0, 0;
  --ion-color-light-shade: #d7d8da;
  --ion-color-light-tint: #f5f6f9;

}

@font-face {
  font-family: 'Poppins';
  src: url("../src/assets/fonts/Poppins-Regular.ttf");
}

@font-face {
  font-family: 'Traverse';
  src: url("../src/assets/fonts/Traverse-Regular.otf");
}

* {
  font-family: 'Poppins'
}

body {
  background: var(--ion-color-primary) !important;
  // linear-gradient(var(--ion-color-primary) 50%, #ffffff 50%)
  padding-top: env(safe-area-inset-top); /* Status bar height on iOS 11+ */
}

ion-toolbar {
  --padding-start: 30px;
  --padding-end: 30px;
  --padding-bottom: 15px;
  --padding-top: 15px;
  color: var(--ion-color-light)
}

ion-item {
  --padding-start: 0px;
}

ion-grid {
  padding: 0px
}

ion-col {
  padding: 0px;
}

.ion-content-padding {
  --padding-start: 30px !important;
  --padding-end: 30px !important;
  --padding-bottom: 30px !important;
  --padding-top: 30px !important;
}

.plt-desktop {
  display: flex;
  justify-content: center;
  background: lightgrey;
  background-size: contain;
  background-repeat: no-repeat;
}

.plt-desktop body {
  max-width: 600px;
}

.item-native {
  padding-start: 0px;
}

.mc-big-button {
  height: 50px !important;
  font-weight: bold;
  margin-bottom: 15px !important;
  --border-radius: 30px !important;
}

.mc-text-button {
  height: 50px !important;
  font-weight: bold;
  margin-bottom: 15px !important;
  --border-radius: 30px !important;
  --border-width: 0px;
  --color: #707070;
  --ion-color-base: #707070 !important;
  text-decoration: underline;
}

.mc-small-button {
  height: 36px !important;
  font-weight: bold;
  --border-radius: 33px !important;
}


  .mc-bold {
    font-weight: bold !important;
  }

.fancy-button{
    --background:var(--charcoal,#36454f);
}

.ellipsis {
  text-overflow: ellipsis;
}

.c-icon {
  height: 20px;
  width: 20px;
}

ion-item {
  visibility: visible;
  cursor: pointer;

  --background-focused : transparent;
  --border-color: var(--ion-color-primary)
}

ion-input {
  --color: black !important;
  --placeholder-color: rgba(0, 0, 0, 0.6) !important;
}


.mc-white-container {
  width: 100%;
  background: white;
  padding: 20px;
  color: black;
  min-height: 100%;
  border-top-left-radius: 15px !important;
  border-top-right-radius: 15px !important;
}

.mc-white-container-no-padding {
  padding-right: 0px;
  padding-left: 0px;
}

.mc-white-container-no-padding-full{
  padding-right: 0px;
  padding-left: 0px;
  padding-bottom: 0px;
}


@-webkit-keyframes rotating {
  from{
      -webkit-transform: rotate(0deg) scale(1,-1);
  }
  to{
      -webkit-transform: rotate(-360deg) scale(1,-1);
  }
}

.rotating {
  -webkit-animation: rotating 2s linear infinite;
}

/*
ion-icon.rotating .icon-inner {
  transform: scale(1, -1);
}

 */



*::-webkit-scrollbar {
  display: none;
}

.text-center {
  text-align: center;
}

.text-left {
  text-align: left;
}

.text-right {
  text-align: right;
}

.d-flex {
  display: flex;
}

.flex-1 {
  flex: 1;
}

.flex-col {
  flex-direction: column;
}

.flex-wrap {
  flex-wrap: wrap;
}

.justify-center {
  justify-content: center;
}

.justify-between {
  justify-content: space-between;
}

.justify-around {
  justify-content: space-around;
}

.justify-end {
  justify-content: flex-end !important;
}

.align-center {
  align-items: center;
}

.align-stretch {
  align-items: stretch;
}

.mc-error-label {
  color: var(--ion-color-danger);
  text-align: right;
  font-size: 12px;
}

.mc-input-danger {
  border-color: var(--ion-color-danger);
}

.pointer {
  cursor: pointer;
}

ion-thumbnail, ion-avatar {
  background-color: #ffffff !important;
}

ion-toolbar h1 {
  margin: 0px;
  line-height: 48px;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

ion-progress-bar {
  padding: 15px;
}

.bg-primary-transparent {
  --background: rgba(var(--ion-color-primary-rgb), 0.1);
}

.no-scroll {
  --overflow: hidden;
  overflow: hidden
}

@media screen and (max-width: 320px) {
  .hidden-xs {
      display:none !important;
  }
}

.normal-wrap {
  white-space: normal;
}

.swiper-slide img {
  width: 100%;
  max-width: 100%;
  height: 100%;
  max-height: 100%;
}

ion-tab-button {
  max-width: none;
}

// custom pin
.marker-pin {
  width: 30px;
  height: 30px;
  border-radius: 50% 50% 50% 0;
  background: var(--ion-color-primary);
  position: absolute;
  transform: rotate(-45deg);
  left: 50%;
  top: 50%;
  margin: -15px 0 0 -15px;
}

.marker-pin-secondary {
  background: var(--ion-color-secondary);
}
// to draw white circle
.marker-pin::after {
  content: '';
  width: 24px;
  height: 24px;
  right: 3px;
  top: 3px;
  background: #fff;
  position: absolute;
  border-radius: 50%;
}
// to align icon
.custom-div-icon i {
  position: absolute;
  width: 22px;
  font-size: 22px;
  left: 0;
  right: 0;
  margin: 10px auto;
  text-align: center;

}

.custom-div-icon ion-icon {
  font-size: 20px;
  margin-left: 0px;
  margin-top: 11px;
  position: absolute;
  left: 5px;
  text-align: center;
}

.leaflet-control-attribution {
  pointer-events: none;
}

.position-relative {
  position: relative;
}

.experienced {
  color: #FFD149;
  position: absolute;
  top: -3px;
  right: -3px;
  height: 27%;
  width: 27%;

}

.modulePopover {
  position: absolute;
}

.modulePopover .popover-content {
  right: 12px !important;
  left: auto !important;
}


.fade-in-badge {
  animation: fadeIn 2s, wiggle 1s 1.3s;
  -webkit-animation: fadeIn 2s, wiggle 1s 1.3s;
  -moz-animation: fadeIn 2s, wiggle 1s 1.3s;
  -o-animation: fadeIn 2s, wiggle 1s 1.3s;
  -ms-animation: fadeIn 2s, wiggle 1s 1.3s;
}
@keyframes fadeIn {
  0% {opacity:0;}
  50% {opacity:0;}
  100% {opacity:1;}
}

/* Keyframes */
@keyframes wiggle {
  0%, 7% {
    transform: rotateZ(0);
  }
  15% {
    transform: rotateZ(-15deg);
  }
  20% {
    transform: rotateZ(10deg);
  }
  25% {
    transform: rotateZ(-10deg);
  }
  30% {
    transform: rotateZ(6deg);
  }
  35% {
    transform: rotateZ(-4deg);
  }
  40%, 100% {
    transform: rotateZ(0);
  }
}

.leaflet-control-fullscreen a {
  background-position: 0px 0px !important;
}

.leaflet-fullscreen-on .leaflet-control-fullscreen a {
  background-position: 0 -26px !important;
}


.leaflet-control-locate a {
  background-image: url('assets/icons/gps.png');
  background-size: 20px 20px;
  background-position: 3px 3px;
}

.relaypoints-leaflet .leaflet-marker-icon {
  fill: red
}

.module-segment {
  width: fit-content;
  --background: var(--ion-color-primary);

  ion-segment-button {
    --background: var(--ion-color-primary-tint);
    --background-checked: white;
    --indicator-color: transparent;
    --color: white;
    --color-checked: var(--ion-color-secondary);
    --indicator-box-shadow: none;
    max-width: 120px;

    &.segment-button-checked {
      font-weight: bold;
    }

    &:first-child {
      border-top-right-radius: 0px;
      border-bottom-right-radius: 0px;
    }

    &:last-child {
      border-top-left-radius: 0px;
      border-bottom-left-radius: 0px;
    }
  }


}

ion-content{
  --keyboard-offset: 0 !important;
}

.legal-alert {
  --max-width: 80%;

  .alert-message {
    max-height: fit-content;
  }
}


